.grid {
    display: inline-grid;
    column-gap: 50px;
    row-gap: 50px;
}

h1 {
    font-family: 'Billabong', sans-serif;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.item2 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.item3 {
    grid-row-start: 1;
    grid-row-end: 3;
}