.grid {
    display: inline-grid;
    column-gap: 50px;
    row-gap: 50px;
}

#navbar {
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    background: fixed;
    background-color: white;
}
  
#navbar a {
    float: left;
    display: block;
    color: black;
    text-align: left;
    padding: 14px;
    text-decoration: none;
    font-family: 'Billabong', sans-serif;
    font-size: 40px;;
    margin-left: 10%;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}  

body{
    margin-top: 10%;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.item2 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.item3 {
    grid-row-start: 1;
    grid-row-end: 3;
}