body {
    background-color: #5b785d;
}

h1 {
    color: #472f27;
    text-align: center;
    font-size: 50px;
    font-family: "Lucida Handwriting";
    text-shadow: -3px 0 #362925, 0 3px #362925, 3px 0 #362925, 0 -3px #362925;
    padding: .7em 0 .7em 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

table {
    border-spacing: 10px;
}

img {
    border-radius: 50px;
}

td.Ass02 {
    border-radius: 50px;
    background-color: #174a30;
    color: #302623;
    font-size: 25px;
    text-align: center;
    padding: 1em 1em 1em 1em;
    font-family: "MV Boli";
}

p.obj {
    font-size: 35;
}

p.men{
    font-size: 21.5px;
}
