h1 {
    color: #A6808C;
    text-align: center;
    font-size: 50px;
    font-family: "Lucida Handwriting";
    text-shadow: -3px 0 #4c4552, 0 3px #4c4552, 3px 0 #4c4552, 0 -3px #4c4552;
    padding: .7em 0 .7em 0;
    background-image: url("https://Amy-Fouzia.github.io/Images/vineHeader.png");
    background-size: 1060px 100px;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background-color: #565264;
}