h1 {
    text-align: center;
    font-size: 50px;
    font-family: "Lucida Handwriting";
    padding: .7em 0 .7em 0;
    background-image: url("https://Amy-Fouzia.github.io/Images/greenHeader.png");
    background-size: 1060px 142px;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background-color: #dde5b6;
}

a {
    width: 500px;
    height: 86px;
    background-repeat: no-repeat;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

img.me {
    border-radius: 50px;
    border: 10px solid #6c584c;
}

p.info {
    color: darkolivegreen;
    font-family: "Lucida Console";
    font-weight: bold;
    text-shadow: -.5px 0 #6c584c, 0 .5px #6c584c, .5px 0 #6c584c, 0 -.5px #6c584c;
    margin-left: 2%;
    padding: 10em .1em 10em .1em;
    background-size: 600px 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #a3a380;
    border-radius: 50px;
    border: 10px solid #6c584c;
}